  <div class="main-login">
    <h1>Log in</h1>
    <%= form_for :session, url: login_path do |f| %>
        <div class="form-container">
          <div class="form-fixed">
            <%= f.label(:password, 'Password') %>

          </div>
          <div class="form-dynamic">
            <%= f.password_field(:password) %>

          </div>
        </div>
        <%= f.submit %>
    <% end %>
  </div>