<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Log in</h1>
    <%= form_for :session, url: login_path do |f| %>
        <%= f.label(:password, 'Password') %>
        <%= f.password_field(:password) %>
        <%= f.submit %>
    <% end %>
  </div>
</div>